{% extends 'base.html' %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block title %} About {% endblock title %}
{% block css %}

.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-instagram {
background: #d2447d;
color: white;
}
{% endblock css %}
{% block body %}
<div class="container mar">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark border border-danger">
    <div class="col-md-6 px-0">
      <h1 class="display-5 font-italic">Welcome to TechnoWorld</h1>
      <p class="lead my-3">Technology is the sum of techniques, skills, methods, and processes used in the production of
        goods or services or in the accomplishment of objectives, such as scientific investigation.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Let's get connect with the
          Technology.....</a></p>
    </div>

    <div class="progress mt-4">
      <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
  </div>
  <div class="text-center py-3">
    <h2>Follow us</h2>
  </div>
  <div class="row my-3">
    <div class="col-4">
      <div class="card border-info mb-3" style="max-width: 30rem;">

        <div class="card-body text-center p-5">
          <div><a href="#" class="fa fa-facebook"></a></div>
          <h4 class="card-title pt-2">Facebook</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, natus?Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Veniam aperiam consequatur facere placeat laboriosam, minus
            aut exercitationem temporibus fuga expedita!</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card border-info mb-3" style="max-width: 30rem;">

        <div class="card-body text-center p-5">
          <div><a href="#" class="fa fa-twitter"></a></div>
          <h4 class="card-title pt-2">Twitter</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, natus?Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Veniam aperiam consequatur facere placeat laboriosam, minus
            aut exercitationem temporibus fuga expedita!</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card border-info mb-3" style="max-width: 30rem;">

        <div class="card-body text-center p-5">
          <div><a href="#" class="fa fa-instagram"></a></div>
          <h4 class="card-title pt-2">Instagram</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, natus?Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Veniam aperiam consequatur facere placeat laboriosam, minus
            aut exercitationem temporibus fuga expedita!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center pb-3">
    <h2>What you will get?</h2>
  </div>
  <div class="row my-4">
    <div class="col-3">
      <div class="alert alert-primary" role="alert">
        <h3>Devices</h3>
      </div>
    </div>
    <div class="col-3">
      <div class="alert alert-warning" role="alert">
        <h3>Space</h3>
      </div>
    </div>
    <div class="col-3">
      <div class="alert alert-success" role="alert">
        <h3>Internet</h3>
      </div>
    </div>
    <div class="col-3">
      <div class="alert alert-danger" role="alert">
        <h3>AI</h3>
      </div>
    </div>
  </div>

  <div class="text-center pb-3">
    <h2>Why Techno?</h2>
  </div>
  <div class="row my-4">
    <div class="col-6">
      <div class="card border-success mb-3" style="max-width: 40rem;">
        <div class="card-header">TechnoWorld</div>
        <div class="card-body">
          <h4 class="card-title">Why TechnoWorld ?</h4>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum obcaecati quis
            molestias maxime illo tenetur eligendi, dolor nam voluptas ut, fugiat laudantium at eaque unde eius quidem
            impedit autem cupiditate culpa quaerat hic odio placeat corrupti voluptates! Voluptates saepe harum odit
            tenetur qui unde quidem repudiandae est similique soluta. Sapiente, quidem iure, commodi velit autem nostrum
            dolorem esse ab ad, facilis necessitatibus modi illum sed nam! Quaerat iure delectus laboriosam!</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-success mb-3" style="max-width: 40rem;">
        <div class="card-header">TechnoLogy</div>
        <div class="card-body">
          <h4 class="card-title">Why TechnoLogy is imporatant ?</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quidem hic illo, nisi
            doloribus rerum omnis voluptatibus tempora sit quae voluptate rem id aliquam tenetur. Hic, ipsam pariatur.
            In exercitationem, consequatur nobis officiis facere voluptate doloribus illum ab harum eveniet enim
            corporis dicta excepturi velit laboriosam eos error mollitia aspernatur officia aliquam commodi iusto.
            Veniam, ut delectus, iste numquam recusandae quas natus perferendis doloremque non exercitationem ipsa
            tenetur amet cumque?</p>
        </div>
      </div>
    </div>
  </div>



</div>
{% endblock body %}