{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block title %} BlogPost {% endblock title %}

{% block body %}
{% load static %}
<div class="container mar">

  <div class="row">
    {% for post in post  %}
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{post.title}}</h1>

      <!-- Author -->
      <p class="lead">
        By
        <a href="#">{{post.author}}</a>
      </p>



      <!-- Date/Time -->
      <p>Posted on {{post.date}}</p>

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="/media/{{post.img}}" alt="">

      <hr>

      <!-- Post Content -->
      <p class="lead" style="text-indent:50px;">{{post.content}}</p>
      <hr>
      <p class="lead" style="text-indent:50px;">{{post.content1}}</p>
      
      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
        
          <form action="/blog/postComment/" method="post">
          {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="3"></textarea>
              </div>
              <input type="hidden" name="postId" value="{{post.post_id}}">
            
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </div>
      </div>

      <!-- Comment with nested comments -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

        </div>
      </div>

    </div>

{% endfor %}
    <div class="col-md-4 mt-2">
      <h2 class="my-4 border border-info p-3">Categories
      </h2>
      <div class="card my-4 border border-info">
        <h5 class="card-header">Internet</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/internet.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          Computer Internet technology refers to devices, software, hardware and transmission protocols used to connect
          computers together in order to receive or send data from one computer to another within a small network or as
          part of a small network within a larger network, such as the Internet.
        </div>
      </div>
      <div class="card my-4 border border-info">
        <h5 class="card-header">AI</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/ai.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          Artificial intelligence (AI) refers to the simulation of human intelligence in machines that are programmed to
          think like humans and mimic their actions. The term may also be applied to any machine that exhibits traits
          associated with a human mind such as learning and problem-solving.
        </div>
      </div>
      <div class="card my-4 border border-info">
        <h5 class="card-header">Devices</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/devices.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          The third device in this ranking is the computer, which has slightly increased its presence compared to last
          year, from 78.4% to 79.5% of households. On the other hand, the landline is losing ground and currently 75.8%
          households have it , almost two points less than last year (77.6%).
        </div>
      </div>
      <div class="card my-4 border border-info">
        <h5 class="card-header">Space</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/space.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          Space technology is technology developed by space science or the aerospace industry for use in spaceflight,
          satellites, or space exploration. Space technology includes spacecraft, satellites, space stations, and
          support infrastructure, equipment, and procedures and space warfare.
        </div>
      </div>


      <div class="card my-4 border border-info">
        <h5 class="card-header">Research</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/research.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          The digital revolution in education is full steam ahead, and it’s affecting more than just the classroom.
          Academic research is experiencing a high-tech makeover, as well, and it matters more than most of us know. As
          is typical in every hype cycle, it’s hard to tell where we are in academia’s digital revolution.
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock body %}