{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block title %} BlogPost {% endblock title %}
{% block css %}

.commentdate{
margin-left: 415px;
font-size: 17px;
}

.replydate{
margin-left: 335px;
font-size: 17px;
}

.loginbtn{
padding-left:17px;
padding-right:17px;
}

.replybtn1{
margin-left: 530px;
padding: 2px 15px 2px 15px;
margin-top: -27px;
}
.replybox{
margin: 5px 0px 5px 88px;
height: 145px;
}
.replybtn{
padding:1px 10px;
}

.replycard{
margin-left:88px;
height:140px;
}
.commentcard{
height:175px;
}

{% endblock css %}

{% block body %}

{% load static %}
{% load humanize %}
{% load extras %}

<!-- Facebook like share plugin-->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0" nonce="VAh7wMZ3"></script>

<div class="container mar">

  <div class="row">
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{post.title}}</h1>

      <!-- Author -->
      <p class="lead">
        By
        <a href="#">{{post.author}}</a>
      </p>


      <!-- Date/Time -->
      <p>Posted on {{post.date}}</p>
      <div>
      <h5 style="display:inline; font-size:17px;"><span style="font-weight:450; background-color:#1877f2; padding:4px 8px 4px 8px; margin-right:2px;" class="badge badge-primary">Views : {{post.views}}</span></h5>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>   
      </div>
      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="/media/{{post.img}}" alt="">

      <hr>

      <!-- Post Content -->
      <div class="lead" style="text-indent:50px;">{{post.content|safe}}</div>
      <hr>
      <div class="lead" style="text-indent:50px;">{{post.content1|safe}}</div>

      <hr>

      <!-- Comments Form -->
      <div class="card my-4 border border-info">
        <h4 class="card-header">Leave a Comment : ({{comments.count}}) </h4>
        <div class="card-body">
          {% if user.is_authenticated %}
          <form action="/blog/postComment/" class="needs-validation" method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="3" required></textarea>
              <div class="valid-feedback pt-1">
                <h6>Looks good!</h6>
              </div>
              <div class="invalid-feedback pt-1">
                <h6>Please type something here.</h6>
              </div>
            </div>
            <input type="hidden" name="postId" value="{{post.post_id}}">
            <input type="hidden" name="parentId" value="">
            <button type="submit" class="btn btn-primary">Submit &#8594;</button>
          </form>
          {% else %}
          <h4 class="text-center">Please Login to Post a Comment</h4>
          <div class="text-center pt-2">
            <button type="button" class="btn btn-primary loginbtn" data-toggle="modal" data-target="#loginModal">
              Login
            </button>
            <div class="mt-3">
              <h6> Don't have an account? <a href="#signupModal" data-toggle="modal" data-target="#signupModal">Create
                  one here</a></h6>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

      <!-- Success msg after comment/reply -->
      {% for msg in messages  %}
      {% if msg.tags == 'toastmsg success' %}
      <div class="mb-2">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <h5>{{msg}}</h5>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      {% endif %}
      {% if msg.tags == 'toastreply success' %}
      <div class="mb-2">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <h5>{{msg}}</h5>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      {% endif %}
      {% endfor %}


      <!-- Showing main comment -->
      {% for comment in comments reversed %}

      <div class="card my-2 mx-0 rounded commentcard">
        <div class="media p-3">
          <img class="d-flex mr-3 rounded-circle border border-info" style="height:60px; width:60px;"
            src="{% static 'img/user.jpg' %}" alt="user-img">
          <div class="media-body">
            <div class="card-header">
              <h4 style="display:inline-block;">{{comment.user.username}}</h4>
              <span class="text-muted commentdate">{{comment.timestamp|naturaltime}}</span>
            </div>
            <div class="card-body">
              <h5>{{comment.comment}}</h5>
            </div>
            <button class="btn btn-primary replybtn1" type="button" data-toggle="collapse"
              data-target="#reply{{comment.comment_id}}" aria-expanded="false"
              aria-controls="reply{{comment.comment_id}}">
              Reply
            </button>
          </div>
        </div>
      </div>


      <!-- Reply to comment form -->
      <div class="collapse mx-0" id="reply{{comment.comment_id}}">
        <div class="card card-body rounded replybox">
          {% if user.is_authenticated %}
          <form action="/blog/postComment/" class="needs-validation" method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
              <div>
                <textarea class="form-control" name="comment" rows="2" required></textarea>
              </div>
              <div class="valid-feedback pt-1">
                <h6>Looks good!</h6>
              </div>
              <div class="invalid-feedback pt-1">
                <h6>Please type something here.</h6>
              </div>
            </div>
            <input type="hidden" name="postId" value="{{post.post_id}}">
            <input type="hidden" name="parentId" value="{{comment.comment_id}}">
            <button type="submit" class="btn btn-primary replybtn">Reply &#8594;</button>
          </form>
          {% else %}
          <h4 class="text-center">Please Login to Reply on Comment</h4>
          <div class="text-center pt-2">
            <button type="button" class="btn btn-primary loginbtn" data-toggle="modal" data-target="#loginModal">
              Login
            </button>
            <div class="mt-3">
              <h6> Don't have an account? <a href="#signupModal" data-toggle="modal" data-target="#signupModal">Create
                  one here</a></h6>
            </div>
          </div>
          {% endif %}
        </div>
      </div>



      <!-- Showing reply of corresponding comment -->
      {% for reply in replyDict|get_val:comment.comment_id %}
      <div class="card my-1 rounded replycard">
        <div class="media p-3">
          <img class="d-flex mr-3 rounded-circle" style="height:50px; width:50px;" src="{% static 'img/user.jpg' %}"
            alt="user-img">
          <div class="media-body">
            <div class="card-header">
              <h4 style="display:inline-block;">{{reply.user.username}}</h4>
              <span class="text-muted replydate">{{reply.timestamp|naturaltime}}</span>
            </div>
            <div class="card-body">
              <h5>{{reply.comment}}</h5>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>


    <!-- Sidebar of Categories -->
    <div class="col-md-4 mt-2">
      <h2 class="my-4 border border-info p-3">Categories
      </h2>
      <div class="card my-4 border border-info">
        <h5 class="card-header">Internet</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/internet.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          Computer Internet technology refers to devices, software, hardware and transmission protocols used to connect
          computers together in order to receive or send data from one computer to another within a small network or as
          part of a small network within a larger network, such as the Internet.
        </div>
      </div>
      <div class="card my-4 border border-info">
        <h5 class="card-header">AI</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/ai.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          Artificial intelligence (AI) refers to the simulation of human intelligence in machines that are programmed to
          think like humans and mimic their actions. The term may also be applied to any machine that exhibits traits
          associated with a human mind such as learning and problem-solving.
        </div>
      </div>
      <div class="card my-4 border border-info">
        <h5 class="card-header">Devices</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/devices.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          The third device in this ranking is the computer, which has slightly increased its presence compared to last
          year, from 78.4% to 79.5% of households. On the other hand, the landline is losing ground and currently 75.8%
          households have it , almost two points less than last year (77.6%).
        </div>
      </div>
      <div class="card my-4 border border-info">
        <h5 class="card-header">Space</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/space.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          Space technology is technology developed by space science or the aerospace industry for use in spaceflight,
          satellites, or space exploration. Space technology includes spacecraft, satellites, space stations, and
          support infrastructure, equipment, and procedures and space warfare.
        </div>
      </div>


      <div class="card my-4 border border-info">
        <h5 class="card-header">Research</h5>
        <img style="height: 200px; width: 100%; display: block;" src="{% static 'img/research.jpg' %}" alt="Card image">
        <div class="card-body p-4">
          The digital revolution in education is full steam ahead, and it’s affecting more than just the classroom.
          Academic research is experiencing a high-tech makeover, as well, and it matters more than most of us know. As
          is typical in every hype cycle, it’s hard to tell where we are in academia’s digital revolution.
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  {% for msg in messages %}
  {% if msg.tags == 'toastmsg success' %}

  setTimeout(function () {
    $('.alert').remove();
  }, 20000);

  {% endif %}
  {% if msg.tags == 'toastreply success' %}

  setTimeout(function () {
    $('.alert').remove();
  }, 20000);

  {% endif %}
  {% endfor %}
</script>

{% endblock body %}